/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css?family=Open Sans');

header{
  text-align: center;
  padding: 10px;
  font-family: 'Sofia', serif;
  font-size: 25px;
  margin: 20px 30px 0px 30px;
  border: solid 3px black;
  border-radius: 10px;
  background-color: #9C1203;
  color: #e3a000;
}

main{
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
  margin-top: 25px;
  font-family: 'Open Sans',sans-serif;
}

main div{
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  border: solid 2px black;
  border-radius: 10px;
  padding: 20px 20px 30px 20px;
  background-color: #9C1203;
  color: #e3a000;
}

#questionForm{
  border-radius: 10px;
  padding: 10px;
  background-color: #9C1203;
  color: #e3a000;
  border: solid 2px black;
}

.answerCounter{
  margin-top: 25px;
  padding: 20px;
  border: solid 2px white;
  border-radius: 30px;
  background-color: #033807;
  color: #ffffff;
}

.questionCounter{
  margin-bottom: 25px;
  padding: 20px;
}

button{
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
  background-color: #00165E;
  color: #ffffff;
  border: solid 1px #ffffff;
}

button:hover{
  transition: 0.4s;
}

body{
  background: url(./images/harry-background.png)
}




@media all and (min-width: 600px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

}